# LIST

### WHAT IS LIST ?
- A list is a ordered collection of similar or different data items that is Iterable, mutable, indexed & can have duplicate items enclosed in [ ] separate by commas.

### FEATURES
- Items in a list are ordered.
- List can store items of various types.
- List items are enclosed in square brackets separated by commas..
- Items in a list are indexed. 
- Items in a list are mutable.
- A list can have duplicate items.

### CREATE LIST

In [6]:
# LIST OF 5 NATURAL NUMBERS
L1 = [1, 2, 3, 4, 5]
print(f'L1 = {L1}')

L1 = [1, 2, 3, 4, 5]

In [7]:
# AN EMPTY LIST
L2 = []
print(f'L2 = {L2}')

L2 = []

In [8]:
# LIST OF DUPLICATE ITEMS
L3 = [1, 2, 2, 3, 3, 3, 4]
print(f'L3 = {L3}')

L3 = [1, 2, 2, 3, 3, 3, 4]

In [9]:
# LIST OF SIMILAR OR DIFFERENT TYPE OF DATA ITEMS
L4 = [1, 2, 'Go', 'Come', [3, 4], ['Bhushan', 'Akshay']]
print(f'L4 = {L4}')

L4 = [1, 2, 'Go', 'Come', [3, 4], ['Bhushan', 'Akshay']]

### ACCESSING ITEMS
- Access using index o an item.
- SYNTAX : list_name[index]

##### SINGLE-DIMENSIONAL LIST

In [12]:
# LIST OF MULTIPLES OF 5
mylist01 = [5, 10, 15, 20]
print(f'mylist01 = {L1}')

mylist01 = [5, 10, 15, 20]

In [13]:
# POSITIVE INDEX
print (f'mylist01[0] = {mylist01[0]}')
print (f'mylist01[1] = {mylist01[1]}')
print (f'mylist01[2] = {mylist01[2]}')
print (f'mylist01[3] = {mylist01[3]}')

mylist01[0] = 5
mylist01[1] = 10
mylist01[2] = 15
mylist01[3] = 20

In [14]:
# NEGATIVE INDEX
print (f'mylist01[-4] = {mylist01[-4]}')
print (f'mylist01[-3] = {mylist01[-3]}')
print (f'mylist01[-2] = {mylist01[-2]}')
print (f'mylist01[-1] = {mylist01[-1]}')

mylist01[-4] = 5
mylist01[-3] = 10
mylist01[-2] = 15
mylist01[-1] = 20

##### MULTI-DIMENSIONAL LIST

In [15]:
# LIST OF SIMILAR OR DIFFERENT TYPES OF DATA ITEMS
mylist02 = [[1, 2, 3], 'Good', [4, 5, 6]]
print ( f"mylist02 = {mylist02}" )

mylist02 = [[1, 2, 3], 'Good', [4, 5, 6]]

In [17]:
print (f'mylist02[0] = {mylist02[0]}')
print (f'mylist02[0][0] = {mylist02[0][0]}')
print (f'mylist02[0][1] = {mylist02[0][1]}')
print (f'mylist02[0][2] = {mylist02[0][2]}')

mylist02[0] = [1, 2, 3]
mylist02[0][0] = 1
mylist02[0][1] = 2
mylist02[0][2] = 3

In [18]:
print (f'mylist02[1] = {mylist02[1]}')
print (f'mylist02[1][0] = {mylist02[1][0]}')
print (f'mylist02[1][1] = {mylist02[1][1]}')
print (f'mylist02[1][2] = {mylist02[1][2]}')
print (f'mylist02[1][3] = {mylist02[1][3]}')

mylist02[1] = Good
mylist02[1][0] = G
mylist02[1][1] = o
mylist02[1][2] = o
mylist02[1][3] = d

In [19]:
print (f'mylist02[2] = {mylist02[2]}')
print (f'mylist02[2][0] = {mylist02[2][0]}')
print (f'mylist02[2][1] = {mylist02[2][1]}')
print (f'mylist02[2][2] = {mylist02[2][2]}')

mylist02[2] = [4, 5, 6]
mylist02[2][0] = 4
mylist02[2][1] = 5
mylist02[2][2] = 6

In [20]:
# # Example : How to Access Element 'b' in the list ?
my_list03 = [[1, 2, 3], [['a', 'b', 'c'], 4, 5], 6]
print (f"my_list03[1][0][1] = {my_list03[1][0][1]}")

my_list03[1][0][1] = b