# LIST

### WHAT IS LIST ?
- A list is a ordered collection of similar or different data items that is Iterable, mutable, indexed & can have duplicate items enclosed in [ ] separate by commas.

### FEATURES
- Items in a list are ordered.
- List can store items of various types.
- List items are enclosed in square brackets separated by commas..
- Items in a list are indexed. 
- Items in a list are mutable.
- A list can have duplicate items.

### CREATE LIST

In [6]:
# LIST OF 5 NATURAL NUMBERS
L1 = [1, 2, 3, 4, 5]
print(f'L1 = {L1}')

L1 = [1, 2, 3, 4, 5]

In [7]:
# AN EMPTY LIST
L2 = []
print(f'L2 = {L2}')

L2 = []

In [8]:
# LIST OF DUPLICATE ITEMS
L3 = [1, 2, 2, 3, 3, 3, 4]
print(f'L3 = {L3}')

L3 = [1, 2, 2, 3, 3, 3, 4]

In [9]:
# LIST OF SIMILAR OR DIFFERENT TYPE OF DATA ITEMS
L4 = [1, 2, 'Go', 'Come', [3, 4], ['Bhushan', 'Akshay']]
print(f'L4 = {L4}')

L4 = [1, 2, 'Go', 'Come', [3, 4], ['Bhushan', 'Akshay']]

### ACCESSING ITEMS
- Access using index o an item.
- SYNTAX : list_name[index]

##### SINGLE DIMENSIONAL LIST

In [12]:
# LIST OF MULTIPLES OF 5
mylist01 = [5, 10, 15, 20]
print(f'mylist01 = {L1}')

mylist01 = [5, 10, 15, 20]

In [13]:
# POSITIVE INDEX
print (f'mylist01[0] = {mylist01[0]}')
print (f'mylist01[1] = {mylist01[1]}')
print (f'mylist01[2] = {mylist01[2]}')
print (f'mylist01[3] = {mylist01[3]}')

mylist01[0] = 5
mylist01[1] = 10
mylist01[2] = 15
mylist01[3] = 20

In [14]:
# NEGATIVE INDEX
print (f'mylist01[-4] = {mylist01[-4]}')
print (f'mylist01[-3] = {mylist01[-3]}')
print (f'mylist01[-2] = {mylist01[-2]}')
print (f'mylist01[-1] = {mylist01[-1]}')

mylist01[-4] = 5
mylist01[-3] = 10
mylist01[-2] = 15
mylist01[-1] = 20

##### MULTI-DIMENSIONAL LIST

In [15]:
# LIST OF SIMILAR OR DIFFERENT TYPES OF DATA ITEMS
mylist02 = [[1, 2, 3], 'Good', [4, 5, 6]]
print ( f"mylist02 = {mylist02}" )

mylist02 = [[1, 2, 3], 'Good', [4, 5, 6]]

In [17]:
print (f'mylist02[0] = {mylist02[0]}')
print (f'mylist02[0][0] = {mylist02[0][0]}')
print (f'mylist02[0][1] = {mylist02[0][1]}')
print (f'mylist02[0][2] = {mylist02[0][2]}')

mylist02[0] = [1, 2, 3]
mylist02[0][0] = 1
mylist02[0][1] = 2
mylist02[0][2] = 3

In [18]:
print (f'mylist02[1] = {mylist02[1]}')
print (f'mylist02[1][0] = {mylist02[1][0]}')
print (f'mylist02[1][1] = {mylist02[1][1]}')
print (f'mylist02[1][2] = {mylist02[1][2]}')
print (f'mylist02[1][3] = {mylist02[1][3]}')

mylist02[1] = Good
mylist02[1][0] = G
mylist02[1][1] = o
mylist02[1][2] = o
mylist02[1][3] = d

In [19]:
print (f'mylist02[2] = {mylist02[2]}')
print (f'mylist02[2][0] = {mylist02[2][0]}')
print (f'mylist02[2][1] = {mylist02[2][1]}')
print (f'mylist02[2][2] = {mylist02[2][2]}')

mylist02[2] = [4, 5, 6]
mylist02[2][0] = 4
mylist02[2][1] = 5
mylist02[2][2] = 6

In [20]:
# # Example : How to Access Element 'b' in the list ?
my_list03 = [[1, 2, 3], [['a', 'b', 'c'], 4, 5], 6]
print (f"my_list03[1][0][1] = {my_list03[1][0][1]}")

my_list03[1][0][1] = b

### ADD AN ITEM
###### SINGLE ITEM
- append()
- insert()
- extend()
###### MULTIPLE ITEMS
- loop
- split()
- loop & split()

##### APPEND METHOD
- Add an item at the end of list. ( only 1 item )
- SYNTAX : list_name.append ( item )

In [27]:
mylist1 = [1, 2, 3]
mylist1.append('Bhushan')
print(f'mylist1 = {mylist1}')

mylist1 = [1, 2, 3, 'Bhushan']

##### INSERT METHOD
- Add an item at the speciic index.
- SYNTAX : list_name.insert ( index , value )

In [28]:
mylist2 = [1, 2, 3]
mylist2.insert(1,'Akshay')
print(f'mylist2 = {mylist2}')

mylist2 = [1, 'Akshay', 2, 3]

##### EXTEND METHOD
- Add an items of given list to existing list.
- SYNTAX : list_name.extend ( iterable item )
- Iterable Items : string, list, tuple, dictionary, set, frozenset.

In [32]:
mylist3 = [1, 2, 3]
mylist3.extend (['Bhushan','Akshay'])
print(f'mylist = {mylist3}')

mylist = [1, 2, 3, 'Bhushan', 'Akshay']

##### LOOP

In [51]:
n=int(input('ENTER THE NUMBER OF ELEMENTS : '))
numbers = []
for i in range(n) :
    x = int(input('ENTER NUMBER : '))
    numbers.append(x)
print(f'numbers = {numbers}')

ENTER THE NUMBER OF ELEMENTS :  2
ENTER NUMBER :  1
ENTER NUMBER :  2

numbers = [1, 2]

##### SPLIT METHOD
- Splits a string into list of substring.
- SYNTAX : string.split() OR
- SYNTAX : string.split ( separator,maxsplit )

In [47]:
# input () : Convert input to string
numbers = input('ENTER NUMBERS : ').split()
print(f'numbers = {numbers}')

ENTER NUMBERS :  1 2 3

numbers = ['1', '2', '3']

##### SPLIT METHOD & FOR LOOP

In [52]:
n = int(input('ENTER NUMBER OF ELEMENTS : '))
numbers = input(f'ENTER {n} NUMBERS : ').split()
print(f'numbers = {numbers}')
for i in range(0,n) :
    numbers[i] = int(numbers[i]) 
print(f'numbers = {numbers}')

ENTER NUMBER OF ELEMENTS :  2
ENTER 2 NUMBERS :  1 2

numbers = ['1', '2']
numbers = [1, 2]

### UPDATE AN ITEM

##### SINGLE ITEM : BY REFER TO INDEX OF AN ITEM
- SYNTAX : list_name[index] = value

In [54]:
Languages = ['css', 'java', 'python']
Languages[1] = 'javascript'
print(f'Languages = {Languages}')

Languages = ['css', 'javascript', 'python']

##### MULTIPLE ITEMS : BY PASSING RANGE OF AN INDEX
- SYNTAX : list_name[index(start):index(end)]

In [55]:
Num = [1, 2, 3, 4, 5, 6]
Num[2:5] = ['Java','Python']
print(f'Num = {Num}')

Num = [1, 2, 'Java', 'Python', 6]

### REMOVE METHOD
- Remove the specified item from list
- SYNTAX : List_name.remove[item]

In [57]:
names = ['Bhushan','Akshay','Rohit']
names.remove('Rohit')
print(f'names = {names}')

names = ['Bhushan', 'Akshay']

### POP METHOD
- Remove an item at specified index.
- When index not specified then it remove last element.
- SYNTAX : list_name.pop(index)

In [123]:
fruits = ['apple','pineapple','graphes','dragon fruits',]
d = []
x = fruits.pop(1)
d.append(x)
print(f'POP(1) : fruits = {fruits}')
x = fruits.pop()
d.append(x)
print(f'POP() : fruits = {fruits}')
print(f'Deleted Items = {d}')

POP(1) : fruits = ['apple', 'graphes', 'dragon fruits']
POP() : fruits = ['apple', 'graphes']
Deleted Items = ['pineapple', 'dragon fruits']

### DEL KEYWORD
- del list_name[index] : removes element at specified index
- del list_name[index(start):index(end)]
- del list_name : delete the list ( list no longer exists )

In [66]:
n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
del n[2]
print(f'del n[2] : n = {n}')
del n[3:7]
print(f'del n[3:7] : n = {n}')
del n

del n[2] : n = [0, 1, 3, 4, 5, 6, 7, 8, 9]
del n[3:7] : n = [0, 1, 3, 8, 9]

### CLEAR METHODD
- It makess the list empty
- SYNTAX : list_name.clear()

In [109]:
n = [1,2,3]
n.clear()
print(f'n={n}')

n=[]

### COPY METHOD
- You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
- SYNTAX : list_name.copy()

In [110]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [124]:
# ANOTHER WAY COPY IS USING list()
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### LIST COMPREHENSION
- Provides a shorter syntax while creating a new list from the existing list.
- SYNTAX : list_name = [ expression for item in iterable if condition == True ]

In [137]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [138]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

##### CONDITION : The condition is like a filter that only accepts the items that valuate to True.

In [139]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [140]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

##### ITERABLE : The iterable can be any iterable object, like a list, tuple, set etc.

In [143]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [144]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

##### EXPRESSION : The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [146]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [147]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [148]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

### LENGTH METHOD
- To Get the Number o Elements in the list.
- SYNTAX : len(iterable)

In [108]:
names = ['John', 'James', 'Emmy', 'Michael', 'Jimmy']
print(f'NUMBER OF ELEMENTS : {len(names)}')

NUMBER OF ELEMENTS : 5

### COUNT METHOD
- To know the number of appearances of 'x' element
- SYNTAX : list_name.count()

In [150]:
names = ['John', 'James', 'John', 'John', 'Jimmy']
print(f'NUMBER OF APPEARANCE OF ELEMENT "John" : {names.count('John')}')

NUMBER OF APPEARANCE OF ELEMENT "John" : 3

### INDEX METHOD
- SYNTAX : list_name.index(item)

In [156]:
names = ['John', 'James', 'Emma', 'John', 'Jimmy']
print(f'INDEX OF ITEM "John" : index = {names.index('John')}')

INDEX OF ITEM "John" : index = 0

### REVERSE METHOD
- SYNTAX : list_name.reverse()

In [157]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

### FOR LOOP

##### THROUGH LIST ITEMS

In [113]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

##### THROUGH INDEX NUMBERS

In [114]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

### WHILE LOOP

In [115]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### SORTING
- SYNTAX : list_name.sort()
- SYNTAX : list_name.sort(reverse=True)

##### ALPHA-NUMERICALLY SORT

In [117]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [118]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

##### SORT IN DESCENDING ORDER : By default ascending order

In [120]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [121]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

##### CASE INSENSITIVE SORT : All capital letters being sorted before lower case letters:

In [122]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [129]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

##### CUSTOMIZE SORT FUNCTION

In [130]:
def myfunc(n):
  return abs(n - 50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### SLICING

In [22]:
list1 = ['Varun','Ranvindar','Amrit','Rahul','Nitin','Prajwal']
print(list1)

['Varun', 'Ranvindar', 'Amrit', 'Rahul', 'Nitin', 'Prajwal']

In [23]:
# print from index 2 to 3
print(list1[2:4])

['Amrit', 'Rahul']

In [24]:
# print from index 0 to 4
print(list1[0:5])

['Varun', 'Ranvindar', 'Amrit', 'Rahul', 'Nitin']

In [25]:
# print from index 0 to -1
print(list1[0:])

['Varun', 'Ranvindar', 'Amrit', 'Rahul', 'Nitin', 'Prajwal']

In [4]:
# print from index 0 to -2
print(list1[:-1])

['Varun', 'Ranvindar', 'Amrit', 'Rahul', 'Nitin']

In [5]:
# copy of who;e list
print(list1[:])

['Varun', 'Ranvindar', 'Amrit', 'Rahul', 'Nitin', 'Prajwal']

In [6]:
# last item of the list
print(list1[-1])

Prajwal

In [7]:
# last two items of the list
print(list1[-2:])

['Nitin', 'Prajwal']

In [8]:
# everything except last two items
print(list1[:-2])

['Varun', 'Ranvindar', 'Amrit', 'Rahul']

In [26]:
# All items of lisst, reversed
print(list1[::-1])

['Prajwal', 'Nitin', 'Rahul', 'Amrit', 'Ranvindar', 'Varun']

In [11]:
# First two items, reversed
print(list1[1::-1])

['Ranvindar', 'Varun']

In [28]:
# everything except the last two items
print(list1[-3::-1])

['Rahul', 'Amrit', 'Ranvindar', 'Varun']

In [27]:
# last two items, reversed
print(list1[:-3:-1])

['Prajwal', 'Nitin']

### CONCATENATION

In [17]:
# list1 is a list of first 5 odd integers
list1 = [1, 3, 5, 7, 9]
# list2 is a list o firsst 5 even integers
list2 = [2, 4, 6, 8, 10]
# Concatenattion 
print(list1 + list2)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

### REPETITION

In [18]:
list4 = ['Hello']
print( list4 * 5 )

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

### MEMBERSHIP

In [19]:
list5 = ['arun','Ravindar','Amrit']
print('Amrit' in list5)

True

In [20]:
print('Nitin' in list5)

False